@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a{
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
}

header .navigation li a:hover{
    color: #03a9f4;
}

.content{
    max-width: 600px;
}

.content .contentBx h2{
    font-size: 2em;
    color: #fff;
    line-height: 1em;
}

.content .contentBx p{
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
    margin: 20px 0px;
}

.content .contentBx a{
    display: inline-block;
    padding: 10px 30px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}

.sci li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li a{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
}

@media(max-width: 991px){
    header{
        padding: 20px 40px;
    }
    section{
        padding: 50px;
        background: url(images/bg2.jpg);
        background-size: cover;
        background-position: center;
    }

    .content .contentBx h2{
        font-size: 1.5em;
    }
    .content .contentBx p{
        font-size: 1.0em;
    }
    header .navigation{
        position: fixed;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header .navigation.active{
        display: flex;
    }
    header .navigation li a{
        font-size: 24px;
        margin: 10px 0;
    }

    .sci{
        position: absolute;
        bottom: 10px;
        display: flex;
    }
    .toggleMenu{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }

    .toggleMenu.active{
        background: url(images/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }
}
