@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #373a40;
    display: flex;
}

.container .imgBx{
    position: relative;
    width: 450px;
    height: 100%;
    background: url(images/bg2.jpg);
    background-size: cover;
}

.container .countdownBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 450px);
}

.container .countdownBx h2{
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 4em;
}

.container .countdownBx h2 span{
    font-size: 6em;
    font-weight: 700;
}

.container .countdownBx h2 span i{
    font-style: initial;
    color: #19d3da;
}

.container .countdownBx .countdown{
    margin-top: 30px;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .countdownBx .countdown div{
    position: relative;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 15px;
    margin-top: -25px;
}

.container .countdownBx .countdown div::before{
    content: 'text';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    color: #fff;
    font-size: 0.35em;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container .countdownBx .countdown div#day::before{
    content: 'Dias';
}
.container .countdownBx .countdown div#hour::before{
    content: 'Horas';
}
.container .countdownBx .countdown div#minute::before{
    content: 'Minutos';
}
.container .countdownBx .countdown div#second::before{
    content: 'Segundos';
}

.container .countdownBx .countdown div#second,
.container .countdownBx .countdown div#second::before{
    color: #19d3da;
}

.spotify-iframe {
    width: 95%;
    margin-top: 20px;
}

@media(max-width: 991px){
    .container .imgBx{
        display: none;
    }

    .container .countdownBx{
        width: 100%;
    }
}

@media(max-width: 600px){
    .container .countdownBx h2{
        font-size: 1.1em;
    }

    .container .countdownBx .countdown{
        height: 100px;
    }
    .container .countdownBx .countdown div {
        width: 80px;
        font-size: 1.8em;
        margin: 0;
        margin-top: -20px;
    }
}
