@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #373a40;
    display: flex;
}

.container .imgBx{
    position: relative;
    width: 450px;
    height: 100%;
    background: url(images/1z6a.gif);
    background-size: cover;
}

.container .countdownBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 450px);
}

.container .countdownBx h2{
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 4em;
}

.container .countdownBx h2 span{
    font-size: 6em;
    font-weight: 700;
}

.container .countdownBx h2 span i{
    font-style: initial;
    color: #19d3da;
}

.container .countdownBx .countdown{
    margin-top: 30px;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .countdownBx .countdown div{
    position: relative;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 15px;
    margin-top: -25px;
    transition: 0.5s;
}

.container .countdownBx .countdown div::before{
    content: 'text';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    color: #fff;
    font-size: 0.35em;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container .countdownBx .countdown div#day::before{
    content: 'Dias';
}
.container .countdownBx .countdown div#hour::before{
    content: 'Horas';
}
.container .countdownBx .countdown div#minute::before{
    content: 'Minutos';
}
.container .countdownBx .countdown div#second::before{
    content: 'Segundos';
}

.container .countdownBx .countdown div#second,
.container .countdownBx .countdown div#second::before{
    color: #19d3da;
}

.spotify-iframe {
    width: 95%;
    opacity: 0.9;
    height: calc(100% - 30px);
    padding: 10px;
}


.light {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #3498db;
    margin: 20px;
    overflow: hidden;
}

.light::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    transform: translateX(-50%);
    animation: moveLight 6s ease-in-out infinite;
}

.last-seconds {
    color: #ef476f !important;
    animation: pulsate 2s infinite;
}

.last-seconds::before {
    color: #ef476f !important;
}

#title.red i {
    color: #ef476f !important;
}

#title.new-year {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 100px;
}

#title.new-year i {
    color: #ecdf93 !important;
}



@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

@keyframes moveLight {
    from {
      transform: translateX(-100%);
      opacity: 1;
    }
    to {
      transform: translateX(0);
      opacity: 0;
    }
}

@media(max-width: 991px){
    .container .imgBx{
        display: none;
    }

    .container .countdownBx{
        width: 100%;
    }
}

@media(max-width: 600px){
    .container .countdownBx h2{
        font-size: 1.1em;
    }

    .container .countdownBx .countdown{
        height: 100px;
    }
    .container .countdownBx .countdown div {
        width: 80px;
        font-size: 1.8em;
        margin: 0;
        margin-top: -20px;
    }
}


@media(min-width: 1600px){
    .container .countdownBx h2 {
        font-size: 2.5em;
    }

    .container .countdownBx .countdown {
        height: 170px;
    }

    .container .countdownBx .countdown div {
        width: 170px;
        font-size: 3.5em;
    }

    #countdown-area.last-time {
        height: 250px;
    }

    .last-seconds {
        font-size: 4rem !important;
    }
}